$red: #e1251b;

header {
  background-color: $red;
  height: 50px;
  color: #fefefe;
  display: flex;
  align-items: center;
  padding: 16px 32px;

  /* Align one left, one right */
  justify-content: space-between;
}

.logo {
  /* float: left; */
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
  justify-content: left;
  gap: 5px;
  cursor: pointer;
}

.profile {
  /* float: right; */
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  gap: 16px;
  align-items: center;
}

.profile div {
  display: inline;
}

.avatar {
  display: inline;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
