.container {
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.login-card {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;

  width: 500px;
  height: auto;
  border-radius: 8px;
  padding: 32px;
  gap: 8px;

  // Shadow and gradient
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.sign-in-btn {
  max-width: 360px;
  margin-top: 16px;
  background-color: red;
  width: 100%;
  height: 60px;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

// Input
.input-wrapper {
  margin-top: 8px;
  max-width: 360px;
  width: 100%;
  position: relative;
}
.input {
  height: 50px;
  font-size: 16px;
  padding: 11px 15px;
  border-radius: 4px;
  border: 1px solid #cbd8e3;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
.placeholder {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  top: 18px;
  left: 8px;
  padding: 0 8px;
  background-color: white;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
}
.input:focus {
  border-color: #0088ff;
}
.input:focus + .placeholder {
  transform: scale(0.75) translateY(-36px) translateX(-15%);
  color: #0088ff;
  transition: 0.2s ease;
}
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  // When field is already filled
  transform: scale(0.75) translateY(-36px) translateX(-15%);
  color: #0088ff;
  transition: 0.2s ease;
}
