$blue: #163ac7;

.post {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.post-header {
  display: flex;
  gap: 16px;

  /* Align one left, one right */
  justify-content: space-between;
}

.post-header-profile {
  display: flex;
  gap: 16px;
}

.post-header-profile img {
  justify-content: flex-start;
  align-items: center;
  justify-content: left;
  width: 40px;
  height: 40px;
}

.following-btn {
  background: #163ac70f;
  border: 1px solid #163ac733;
  color: $blue;
}

.follow-btn {
  background: $blue;
  border: 1px solid $blue;
  color: #fefefe;
}

.post-user-details {
  display: flex;
  gap: 4px;
  flex-direction: column;

  .post-username {
    font-size: 15px;
    font-weight: 600;
  }
  .post-date-created {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #858c91;
  }
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #1d242999;
}

.post-description {
  overflow-y: auto;
  max-height: 120px;
}

.post-footer {
  display: flex;

  .like {
    cursor: pointer;
  }
}
