<div class="post">
  <div class="post-header">
    <div class="post-header-profile">
      <img class="avatar" [src]="userAvatarUrl" />
      <div class="post-user-details">
        <div class="post-us:wrapper">{{ postInput.author }}</div>
        <div class="post-date-created">52 minutes ago</div>
      </div>
    </div>
    <button type="button" class="following-btn basic-btn">Following</button>
    <!-- <button 
      type="button" class="follow-btn basic-btn">Follow</button> -->
  </div>
  <div class="post-body">
    <img src="/assets/images/post.png" />
    <div class="post-description">
      {{ postInput.description }}
    </div>
  </div>
  <div class="post-footer">
    <i
      class="like fa-heart"
      [ngClass]="liked ? 'fa-solid' : 'fa-regular'"
      (click)="updateLikes()"
    ></i>
  </div>

  <hr
    style="
      width: 100%;
      height: 1px;
      border-width: 0;
      color: gray;
      background-color: gray;
    "
  />
</div>
